@{
    ViewData["Title"] = "Xóa Db";

}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">
    Bạn có chắc chắn muốn xóa Database?
</p>
<form method="post">
    <button class="btn btn-danger" type="submit"> Xóa</button>
    <hr />
    <a asp-action="Index">Quản lý Db</a>
</form>